
body {
  overflow-x: hidden;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container{
  padding-bottom: 15px;
}
.text-muted {
  color: #777;
}

.text-primary {
  color: #E53E00;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
}

a {
  color: #E53E00;
}

a:hover,
a:focus,
a:active,
a.active {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: 'Bree Serif', serif;
  font-weight: 700;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: #181818;
  color: #fff;
}

.bg-darkest-gray {
  background-color: #222;
}

.btn-primary {
  border-color: #E53E00;
  text-transform: uppercase;
  font-family: 'Cambay', sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #E53E00;
  background-image: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  border-color: #E53E00;
  color: #fff;
  background-color: #E53E00;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: #E53E00;
  background-color: #E53E00;
}

.btn-primary .badge {
  color: #E53E00;
  background-color: #fff;
}

.btn-xl {
  padding: 20px 40px;
  border-color: #E53E00;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: 'Cambay', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #E53E00;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  border-color: #E53E00;
  color: #fff;
  background-color: #E53E00;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  border-color: #E53E00;
  background-color: #E53E00;
}

.btn-xl .badge {
  color: #E53E00;
  background-color: #fff;
}

.navbar-default {
  border-color: transparent;
  background-color: #222;
}

.navbar-default .navbar-brand {
  font-family: 'Oregano', cursive;
  color: white;
  font-size: 30px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #E53E00;
}
nav.navbar.navbar-default.navbar-fixed-top{
  background: none;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255,255,255,.02);
}
.navbar-default .navbar-toggle {
  border-color: #E53E00;
  background-color: #E53E00;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #E53E00;
}

.navbar-default .nav li a {
  text-transform: uppercase;
  font-family: 'Oregano';
  font-weight: 400;
  letter-spacing: 2px;
  color: #fff;
}

.navbar-default .nav li a:hover{
  color:#E53E00;
}
.navbar-default .nav li a:focus {
  outline: 0;
  color: #fff;
}

.navbar-default .navbar-nav>.active>a {
  border-radius: 0;
  color: #fff;
  background:#E53E00;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #E53E00;
}

@media(min-width:768px) {
  .navbar-default {
    border: 0;
    background-color: transparent;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
  }

  .navbar-default .navbar-brand {
    font-size: 3em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

  .navbar-default .navbar-nav>.active>a {
    border-radius: 3px;
  }

  .navbar-default.navbar-shrink {
    padding: 10px 0;
    background-color: #222;
  }

  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 2.5em;
  }
}
#mobile-header {
  display: none;
}
@media(min-width: 767px){
  div#sidr-main{
    display: none!important;
  }
  body#page-top{
    width: initial!important;
    position: initial!important;
    right: initial!important;
  }
}
a#responsive-menu-button{
  margin-left: 70%;
  margin-top: 6px;
}
@media only screen and (max-width: 544px){
  a#responsive-menu-button{
    margin-left: 65%;
  }
}
@media only screen and (max-width: 477px){
  a#responsive-menu-button{
    margin-left: 60%;
  }
}
@media only screen and (max-width: 477px){
  a#responsive-menu-button{
    margin-left: 50%;
  }
}
@media only screen and (max-width: 325px){
  a#responsive-menu-button{
    margin-left: 40%;
  }
}
@media only screen and (max-width: 250px){
  a#responsive-menu-button{
    margin-left: 20%;
  }
}
@media only screen and (max-width: 178px){
  a#responsive-menu-button{
    margin-left: 3%;
  }
}

a.btn.btn-default.mobile-btn{
  background-image: none;
  background-color: #E53E00;
  color: #fff;
  border: none;
  width: inherit;
  border-radius: 0px;
}
a.btn.btn-default.mobile-btn.ui-link{
  cursor: pointer;
}
.nav>li>a:hover{
  background-color: #E53E00;
}
.nav>li>a:focus{
  background: none;
}

@media only screen and (max-width: 767px){
  #mobile-header {
    display: block;
  }
  #navigation{
    display:none;
  }
}

header {
  text-align: center;
  color: white;
  height: 100vh;
}
.header-container{
  position: relative;
  overflow: hidden;
}
.header-container:after{
  content: ' ';
  background-attachment: scroll;
  display: block;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
  background-image: url(../assets/header-background-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -ms-background-size:  100% 100%;
  -o-background-size:  100% 100%;
  -moz-background-size:  100% 100%;
  -webkit-background-size:  100% 100%;
}
a.navbar-brand.page-scroll{
  padding-left: 20px;
}

header .intro-text .intro-lead-in {
  margin-bottom: 25px;
  margin-right: 50px;
  margin-left: 50px;
  font-family: 'Coming Soon', cursive;
  font-size: 26px;
  font-style: italic;
  line-height: 32px;
}

/* Header text and button */
header .intro-text .intro-heading {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: 'Cambay', sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 50px;
}
header .intro-text {
  padding-top: 150px;
  padding-bottom: 50px;
}
/* Different padding sizes based on width and height of device. */
@media(min-height:600px) and (max-height:799px) {
  header .intro-text { padding-top: 250px;}
}
@media(min-height:800px) and (max-height:1024px) {
  header .intro-text { padding-top: 300px;}
}
@media(min-width:480px) and (max-width:568px) {
  header .intro-text { padding-top: 100px;}
}
@media(max-height:400px) and (max-width:400px) {
  header{
    overflow: scroll;
  }
  header .intro-text{
    padding-top: 50px;
  }
  header .intro-text .intro-lead-in{
    font-size: 15px;
    margin-bottom: 1px;
  }
  .btn-xl{
    padding: 5px;
  }
}

@media(min-width:768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 210px;
  }
@media(max-height:400px){
  header .intro-text{
    padding-top: 100px;
  }
}

  header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    margin-right: 50px;
    margin-left: 50px;
    font-family: 'Coming Soon', cursive;
    font-size: 45px;
    font-style: italic;
    line-height: 55px;
  }

  header .intro-text .intro-heading {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
  }
}

section {
  padding: 30px 0;
}

section h2.section-heading {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
}

section h3.section-subheading {
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}
textarea{
  margin-top: 40px;
  color: #000;
  background: #F1F1F1;
  width: 50%;
  height: 70px;
}
@media(max-width:800px){
  textarea {
    width: 70%;
    margin-top: 20px;
  }
}
button.btn-lg{
  margin-top: 15px;
  color: #fff;
  border: 0px;
  background-color: #E53E00;
}

p.about-text{
  text-align: center;
  font-size: 20px;
}
.img-responsive{
  margin: 0 auto;
}
img.img-responsive.websites{
  max-width: 70%;
  margin-top: 50px;
  border-radius: 25px;
}
.img-responsive.about-header{
  height: 90%;
  width: 80%;
}
@media(min-width:768px) {
  section {
    padding: 50px 0;
  }
}
@media(max-width:340px){
p.about-text{
  clear: both;
}
.img-responsive{
  float: none!important;
}
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}


@media(min-width:767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

footer{
  background-color: black;
}
.col-lg-5.text-center{
  text-align: center;
  padding-right: 0px;
}

aside.clients img {
  margin: 50px auto;
}

section#contact {
  color: #fff;
  background-color: #2f2f2f;
  background-position: center;
  background-repeat: no-repeat;
}

section#contact .section-heading {
  color: #fff;
}


.col-lg-12.repo-info{
  text-align: left;
}
.col-lg-3.text-center.repo{
  min-height: 200px;
  border-style: solid;
  border-color: #181818;
  border-width: 1px;
  background-color: #2f2f2f;
}
@media(max-width:1199px) {
  .col-lg-3.text-center.repo{
    margin: 30px;
  }
  .col-lg-12.repo-info{
    text-align: center;
  }
}
.col-lg-3.text-center.repo a{
  text-decoration: none;
  color: white;
}
.col-lg-3.text-center.repo:hover a{
  text-decoration: none;
  color: black
}
.col-lg-3.text-center.repo:hover{
  background-color: #E53E00;
  border-color: #E53E00;
  color: black;
}
div#gh_repo{
  word-wrap: break-word;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  text-transform: uppercase;
  text-transform: none;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 40px;
}

footer ul.quicklinks {
  margin-bottom: 0;
  text-transform: uppercase;
  text-transform: none;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 40px;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  outline: 0;
  color: #fff;
  background-color: #222;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #E53E00;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: 0;
}
.modal-content{
  margin-top: 75px;
  margin-right: 150px;
  margin-left: 150px;
}
.modal-backdrop{
  background-color: #E53E00;
}
.container.projects{
  color: white;
  background: #181818;
  width: inherit;
}
@media(max-width:767px) {
  .modal-content{
    margin-right: 50px;
    margin-left: 50px;
  }
}
@media(min-width:1400px) {
  .modal-content{
    margin-right: 250px;
    margin-left: 250px;
  }
}
.col-lg-8.col-lg-offset-2.background{
  width: 100%;
  height: 10em;
  margin-left: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#asset-1{
  background-image: url("../assets/website-asset-1.png");
}
#asset-2{
  background-image: url("../assets/website-asset-2.png");
}
::-moz-selection {
  text-shadow: none;
  background: #E53E00;
}

::selection {
  text-shadow: none;
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

body {
  webkit-tap-highlight-color: #E53E00;
}
p.site-info{
  padding: 10px 10px 10px 10px;
  font-size: 17px;
  line-height: 1.55;

}
.btn.btn-primary.modal-button{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.site-info a.btn.btn-primary{
  background-color: #181818;
  color: #E53E00;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 18px;
}
.site-info a.btn.btn-primary:hover{
  background-color: #E53E00;
  color: #181818;

}
.fa.fa-mobile.fa-lg{
  font-size: 1.8em;
}
